<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="loginBackground">
  <div class="loginBox ion-color-light">
    <ion-item>
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-text>
      <a>¿No tienes una cuenta?</a>
    </ion-text>
  </div>
</ion-content>

